{
    "presets": ["next/babel"],
    "plugins": [
        "inline-react-svg",
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@/components": "./src/components",
                    "@/styles": "./src/styles"
                }
            }
        ]
    ]
}
